
*{
	margin: 0;
	padding: 0;
}



/*Mobile Mode*/

@media (max-width: 767px){

	.menu{
		text-align: center;
	}

	.Box1{
		border: 2px solid;
		width: 60%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 20%;
		background-color: #c2c2d6;
				/*position: relative;*/
	}


	.miniBox{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff80d5;

	}

/*Coding for second Box*/

	.Box2{
		border: 2px solid;
		width: 60%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 20%;
		background-color: #c2c2d6;
	}

	.miniBox2{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff5050;

	}

/*Coding for 3rd Box*/

	.Box3{
		border: 2px solid;
		width: 60%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 20%;
		background-color: #c2c2d6;
	}


	.miniBox3{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ffffe6;
	}

}

/*Tablet Mode*/


@media (min-width: 768px) and (max-width: 991px){
	.menu{
		text-align: center;
	}

	.Box1{
		border: 2px solid;
		width: 45%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 2%;
		background-color: #c2c2d6;
		float: left;
				/*position: relative;*/
	}


	.miniBox{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff80d5;

	}



/*Coding for second Box*/

	.Box2{
		border: 2px solid;
		width: 45%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-right:  2%;
		float: right;
		background-color: #c2c2d6;
	}



	.miniBox2{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff5050;

	}


	/*Coding for 3rd Box*/

	.Box3{
		border: 2px solid;
		width: 80%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 10%;
		clear: right;
		background-color: #c2c2d6;
	}


	.miniBox3{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ffffe6;
	}


}

/*Desktop Mode*/


@media (min-width: 992px){
		

	.menu{
		text-align: center;
	}
	
		.maincontainer{
			display: flex;
			justify-content: space-;
		}

		.Box1{
		border: 2px solid;
		width: 35%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 2%;
		background-color: #c2c2d6;
		
				/*position: relative;*/
	}


	.miniBox{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff80d5;

	}


	/*Coding for second Box*/

	.Box2{
		border: 2px solid;
		width: 35%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 1%;
		
		background-color: #c2c2d6;
	}



	.miniBox2{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ff5050;

	}


	/*Coding for 3rd Box*/

	.Box3{
		border: 2px solid;
		width: 35%;
		height: 10%;
		overflow: visible;
		margin: 2% 0 2% 0;	
		margin-left: 1%;
		
		background-color: #c2c2d6;
	}


	.miniBox3{
		border: 1px solid;
		background-color: white;
		width: 15%	;
		position: relative;
		left: 84.5%;
		font-size: 70%;
		font-weight: 10%;
		text-align: center;
		background-color: #ffffe6;
	}
}



